*{ margin: 0; padding: 0;  }

@font-face {
   font-family: 'LeferiPoint-BlackA';
   src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

:root { --color: #fff; --background: #141414; }
li { list-style: none; }
a { text-decoration: none; }
body { font-size: 14px; background: var(--background); }
a, span, h1, h2, h3, h4, h5, h6 { color: var(--color); }
html { scroll-behavior: smooth; }

/* loading */
.loading-wrap { display: block; z-index: 9999; position: fixed; color: var(--color); background: #000; width: 100%; height: 100%; }
.loading { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); text-align: center; font-size: 18px; }
svg {  animation:  rotate 2s linear infinite; display: block; width: 70px; height: 70px; margin-bottom: 20px; }
svg circle { width: 100%; height: 100%; fill: none; stroke-width: 5px; stroke: var(--color); stroke-linecap: round; transform: translate(5px,5px); stroke-dasharray: 440; stroke-dashoffset: 440; animation: animate 4s linear infinite; }

 @keyframes animate {
    0% { stroke-dashoffset: 440; }
    50% { stroke-dashoffset: 0; }
    50.1% { stroke-dashoffset: 880; }
 }

 @keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* header */
header { position: relative; z-index: 2; box-sizing: border-box; border-bottom: 1px solid #363636; width: 100%; height: 80px; }

/* nav */
nav { background: var(--background) ; box-sizing: border-box; z-index: 1; position: fixed; border-right: 1px solid #363636; width: 250px; height: 100vh; top: 0; }
nav ul { width: 100%; margin-top: 80px; }
nav ul li { padding: 10px; border-bottom: 1px solid #363636; text-align: center; height: 80px; line-height: 80px; }
nav ul li a { color: var(--color); background-repeat: no-repeat; width: 230px; height: 80px; }
nav ul li.active a { overflow: hidden;  position: relative; display: block; background: url(../img/seoulmilk.png); background-position-y: 100%; background-position-x: -65px; }
nav ul li.active span { z-index: 1; position: absolute; display: block; color: #fff; width: 100%; background: #00000066; }
nav ul li:nth-of-type(2).active a { background: url(../img/greentea.png); background-position-y: 75%; } 
nav ul li:nth-of-type(3).active a { background: url(../img/contact.jpg); }
nav ul li:nth-of-type(1).active span::selection { background:  #ff6776; }

/* aside */
.aside { box-sizing: border-box; z-index:3; position: fixed; border-left: 1px solid #363636; width: 80px; height: 100vh; right: 0; top: 0; }
.aside .top-btn:hover::before { position: absolute; content: '위로가기'; border-radius: 5px; top: -50px; font-size: 12px; display: block; width: 65px; height: 25px; line-height: 25px; left: 8px; text-align: center; background: var(--color); }  
.aside .top-btn:hover::after { position: absolute; content: ''; top: -30px; left: 50%;  width: 0; height: 0; border-bottom: 8px solid transparent; border-top: 8px solid transparent; border-left: 8px solid var(--color); transform: rotate(90deg) translateY(25%); }
.aside .top-btn { animation: topBtn 0.8s ease-in-out infinite; position: absolute; right: 0; bottom: 0; width: 80px; height: 70px; }
.aside .top-btn .line { background: var(--color); width: 2px; height: 50px; display: block; margin-left: 42px; margin-top: 10px; }
.aside .top-btn .left { background: var(--color); width: 2px; height: 20px; display: block; position: absolute; left: 36px; top: 9px; transform: rotate(35deg); border-radius: 0 0 2px 2px; }
.aside .black-white { width: 80px; height: 80px; }
.aside .black-white img { display: block; margin: 0 auto; width: 70px; padding-top: 10px; }
.aside .black-white img::selection { background: transparent; }
@keyframes topBtn { 100% { margin-bottom: 8px; } }

/* section */
.section-wrap { overflow-y: scroll; width: calc(100vw - 330px); height: calc(100vh - 160px); /*border: 1px solid rgb(255, 255, 255);*/ position: fixed; left: 250px; }
.section-wrap::-webkit-scrollbar { width: 0;}
.section-wrap .section01 {}
.section-wrap .section01 h1::selection,
.section-wrap .section01 a::selection,
.section-wrap .section01 span::selection { background: #ff6776; }
.section-wrap .section01 h1 { text-align: center; color: #fff; font-size: 48px; padding: 18px 25px; text-align: left; } 
.section-wrap .section01 ul { display: flex; flex-wrap: wrap; width: 100%; border: 1px solid #363636; border-left: 0; border-right: 0; border-bottom: 0; }
.section-wrap .section01 ul li { width: calc((100% - 4px)/5); height: 20vw; border-right: 1px solid #363636; border-bottom: 1px solid #363636; }
.section-wrap .section01 ul li:nth-of-type(n) { border-left: none; }
.section-wrap .section01 ul li:nth-of-type(5n) { border-right: none; }
.section-wrap .section01 ul li:nth-child(n+6):nth-child(-n+10)  { border-bottom: none; }
.section-wrap .section01 ul li a { position: relative; display: block; width: 100%; height: 20vw; overflow: hidden; }
.section-wrap .section01 ul li img { position: absolute; overflow: hidden; width: 100%;  top: 0; object-fit: cover; }
.section-wrap .section01 ul li a::after { position: absolute; content: '';  bottom: 0; width: 100%; height: 150px; background: linear-gradient(transparent,#000000); z-index: 1; }
.section-wrap .section01 ul li em { width: 50px; font-family: 'LeferiPoint-BlackA'; position: absolute; bottom: -20px; left: 0; z-index:2; font-size: 65px; }
.section-wrap .section01 ul li em.waiting { width: 100%; font-size: 45px; bottom: 5px; left: 10px; }
.section-wrap .section01 ul li:first-child a>span,
.section-wrap .section01 ul li:first-child .text-box div { left: 45px; }
.section-wrap .section01 ul li a>span { position: absolute; z-index: 2; bottom: 45px; left: 65px; }  
.section-wrap .section01 ul li .text-box div { position: absolute; z-index: 3; bottom: 15px; left: 65px; }
.section-wrap .section01 ul li .text-box span { display: inline-block;  font-size: 12px; padding: 4px 8px; line-height: 15px; height: 15px; border-radius: 5px; border: 1px solid var(--color); }
.section-wrap .section01 ul li .text-box span:hover { background: var(--color); color: #333; }

/* footer */
footer { z-index: 2; box-sizing: border-box; position: fixed; border-top: 1px solid #363636; width: 100%; height: 80px; bottom: 0; }

.box:first-child { border-top: none; }
.box { /*height: 100%;*/ background: var(--background); border-top: 1px solid #363636; }  


/* white & black */
body.white { background: var(--color); }
body.white .box { background: var(--color); }

/* nav */
body.white nav { background: var(--color); }
body.white nav ul li.active a,
body.white nav ul li.active span{ color: var(--color) ; }
body.white nav ul li a,
body.white nav ul li span { color: #333 ; }

/* aside */
.aside .top-btn:hover::after {border-left: 8px solid #363636; }
.aside .top-btn:hover::before { color: var(--color); }
.aside .top-btn:hover::before,
body.white .aside .top-btn .line, 
body.white .aside .top-btn .left { background: #363636; }

/* section */
body.white .section-wrap .section01 h1 { color: #333; }


/* 1024 - 태블릿 */
@media screen and (max-width:1400px) {
    /* section */
   .section-wrap .section01 ul li { width: calc((100% - 3px)/4);} 
   .section-wrap .section01 ul li:nth-of-type(4n) { border-right: none; }
   .section-wrap .section01 ul li:nth-of-type(5n) { border-right: 1px solid #363636; }
   .section-wrap .section01 ul li:nth-child(n+7):nth-child(-n+10) { border-bottom: none; }
}
@media screen and (max-width:1200px) {
    /* section */ 
   .section-wrap {height: calc(100vh - 160px); }
   .section-wrap .section01 ul li { height: 30vw; width: calc((100% - 2px)/3);} 
   .section-wrap .section01 ul li a { height: 30vw; }
   .section-wrap .section01 ul li:nth-of-type(3n) { border-right: none; }
   .section-wrap .section01 ul li:nth-of-type(4n) { border-right: 1px solid #363636; }
}
@media screen and (max-width:1024px) {
   /* nav */ 
   nav { width: 80px; transition: width 0.8s linear; }
   nav ul li.active a { width: 100%; }
   nav ul li a { font-size: 12px; } 

   /* section */
   .section-wrap { width: calc(100vw - 160px); left: 80px; } 
}

@media screen and (max-width:768px) { 
    /* section */
    .section-wrap .section01 ul li { width: calc((100% - 1px)/2); height: 45vw; } 
    .section-wrap .section01 ul li a { height: 45vw; }
    .section-wrap .section01 ul li:nth-of-type(3n) { border-right: 1px solid #363636; }
    .section-wrap .section01 ul li:nth-of-type(2n) { border-right: none; }
}

@media screen and (max-width:550px) { 
    /* section */  
   .section-wrap .section01 ul li { width: calc(100%/1); height: calc(100vh - 260px); }
   .section-wrap .section01 ul li a { height: calc(100vh - 260px); }
   .section-wrap .section01 ul li:nth-of-type(n) { border-right: none; }
}

